.header {
  .arrow {
    position: sticky;
    left: 85%;
    bottom: 10%;
    background-color: rgba(255, 255, 255, 0.65);
    border-radius: 50%;
    font-size: 2rem;
    width: 1.5em;
    height: 1.5em;
    padding: 0.2em;
    z-index: 5;
    cursor: pointer;
    transition: background-color 0.3s ease-in;
    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }
  }
}

.container-movies {
  min-height: 55vh;
}

.grid {
  display: grid;
  grid: auto/ repeat(2, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 2em;
}

.list {
  display: grid;
  grid: 1fr / 1fr;
  grid-row-gap: 1em;
  .movie-banner {
    width: 80%;
    height: 350px;
  }
}

.movies-container {
  margin: 2em;
  color: $baseFontColor;
}

.movie-banner-container {
  position: relative;
  transition: bottom 0.3s ease;
  bottom: 0;
  &:hover {
    bottom: 0.5em;
  }
  .movie-cart-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0.5em;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #000;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    cursor: pointer;
    &:hover {
      background-color: #fff;
      color: #000;
    }
  }
}

.movie-banner {
  display: grid;
  grid: 70% 30% / auto;
  background-color: #000;
  border-radius: 8px;
  user-select: none;
  height: 250px;
}

.movie-poster {
  width: 100%;
  height: 100%;
}

.movie-title {
  align-self: center;
  font-size: 0.75rem;
}

.bannerContents {
  display: flex;
  width: 100%;
  column-gap: 1rem;
  .movie-banner {
    width: 186.5px !important;
    height: 350px !important;
    .movie-title {
      font-size: 1rem;
    }
  }
  .overview {
    width: 100%;
    h2 {
      text-decoration: underline;
    }
    color: #000;
  }
}
