$baseFontColor: #fff;

$buttonBg: #e3e3e3;
$buttonAccentColor: #111;
$checkboxSize: 1.125rem;
$checkboxColor: #666;

$timeout: 350ms;
$menu-starting-left: -100%;
$menu-ending-left: 0;
$menu-size: 250px;
$menu-ending-top: 30%;
$menu-ending-right: 60%;

$shopping-cart-red: #df0000;
$neonBase: #fff;
$neonShadow: rgb(226, 19, 105);
